<!doctype html>
<html lang="en">

<head>
  <title>Grew-web</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

  <!-- Needed by bootstrap tooltip (cf. https://getbootstrap.com/docs/4.0/components/tooltips/) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="vendor/codemirror/codemirror.js"></script>
  <link rel="stylesheet" href="vendor/codemirror/codemirror.css">
  <link rel="stylesheet" href="vendor/codemirror/neat.css">
  <script src="vendor/codemirror/grew.js"></script>

  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-sm fixed-top">
      <img aria-hidden="true" role="presentation" src="img/grew.svg" id="logo">

      <ul class="navbar-nav">
        <li>
          <h3>Corpus:</h3>
        </li>
        <li>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="corpus_input">
            <label class="custom-file-label">{{ corpus }}</label>
          </div>
        </li>
        <li>
          <h3>GRS:</h3>
        </li>
        <li>
          <input id="file_folder" type="checkbox" checked data-toggle="toggle" data-on="File" data-off="Folder" data-onstyle="success" data-offstyle="success">
        </li>

        <li v-show="file_input">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="grs_file_input">
            <label class="custom-file-label">{{ grs }}</label>
          </div>
        </li>

        <li v-show="!file_input">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="grs_folder_input" webkitdirectory />
            <label class="custom-file-label">{{ grs }}</label>
          </div>
        </li>

        <li v-show="file_input">
          <img id="view_code" src="img/file-code-fill.svg" width="35" height="35" style="vertical-align: middle;"></img>
        </li>

        <li>
          <input id="dep_graph" type="checkbox" checked data-toggle="toggle" data-on="Dep" data-off="Graph" data-onstyle="success" data-offstyle="success">
        </li>
      </ul>
    </nav>

    <!-- The Modal for code viewing -->
    <div id="code_modal" class="modal fade">
      <div id="code_modal-dialog" class="modal-dialog">
        <div id="code_modal-content" class="modal-content" onresize="modal_resize()">

          <!-- Modal Header -->
          <div id="code_modal-header" class="modal-header">
            <h4 class="modal-title">{{ grs }}</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <textarea id="grs_display"></textarea>
          </div>

          <!-- Modal body -->
          <div class="modal-footer">
            <button v-if="edited" data-dismiss="modal" class="btn btn-danger">Discard changes</button>
            <button v-if="!edited" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button :disabled="!edited" v-on:click="upload_grs_from_editor" class="btn btn-secondary">Upload</button>
          </div>

        </div>
      </div>
    </div>


    <div class="tab-content">
      <!-- *************** pane 1: corpus view *************** -->
      <div v-show="pane == 1" class="main">
        <!-- <div id="pill-corpus" class="main tab-pane fade in active show"> -->

        <div class="wrapper">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">

              <div class="btn-group" role="group" style="width: 100%">
                <button type="button" class="btn btn-sm btn-success">Corpus</button>
                <button type="button" class="btn btn-sm btn-secondary" :disabled="level<4" v-on:click="pane=2">Rewriting</button>
                <button type="button" class="btn btn-sm btn-secondary" :disabled="level<7" v-on:click="pane=3">Rules</button>
              </div>

              <h3>{{sent_ids.length}} graph{{ sent_ids.length > 1 ? "s" : "" }}
                <span v-show="warnings.length>0" data-toggle="modal" data-target="#modal_warnings">
                  <span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Errors while loading graphs" dir="" style="float: right; margin-right: 5px;">
                    {{ warnings.length }}
                  </span>
                </span>
              </h3>
              <div v-if="sent_ids.length>1">
                Filter:
                <input type="text" v-model="search" />
                <img onclick="clear_filter()" src="img/x-circle-fill.svg" width="20" height="20" style="vertical-align: middle;"></img></div>

              <div style="height: calc(100% - 140px);padding-top:10px">
                <div style="max-height:100%;overflow:auto;">
                  <ul class="nav flex-column">
                    <li class="nav-item" v-for="sent_id in filtered_sent_ids">
                      <a v-bind:id="sent_id" v-bind:class="{ selected: sent_id == selected_sent_id }" v-on:click="select_graph_event" class="sent nav-link" href="#">
                        {{ sent_id }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </nav>

          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="alert alert-secondary" role="alert" v-if="grs_files.length + strats.length>0">
              <h5>
                <span v-if="grs_files.length>0">
                  GRS file{{ grs_files.length > 1 ? "s" : "" }}:
                  <span v-for="grs_file in grs_files">
                    <span v-if="grs_file === selected_grs_file">
                      <button type="button" v-bind:id="'grs_file-' + grs_file" v-on:click="select_grs_file" class="btn btn-sm btn-success">{{ grs_file }}</button>
                    </span>
                    <span v-else>
                      <button type="button" v-bind:id="'grs_file-' + grs_file" v-on:click="select_grs_file" class="btn btn-sm btn-secondary">{{ grs_file }}</button>
                    </span>
                  </span>
                </span>
                <span v-if="grs_files.length * strats.length>0" style="padding: 10px;">•••</span>
                <span v-if="strats.length>0">
                  {{ strat_kind }}:
                  <span v-for="strat in strats">
                    <span v-if="strat === selected_strat">
                      <button type="button" v-bind:id="'strat-' + strat" v-on:click="rewrite_event" :disabled="level<2" class="btn btn-sm btn-success">{{ strat }}</button>
                    </span>
                    <span v-else>
                      <button type="button" v-bind:id="'strat-' + strat" v-on:click="rewrite_event" :disabled="level<2" class="btn btn-sm btn-secondary">{{ strat }}</button>
                    </span>
                  </span>
                </span>
                <span style="padding: 10px;">•••</span>
                Other: <input type="text" v-model="local_strat" :disabled="level<2" />
                <button type="button" v-if="local_strat.length>0" id="strat-__local__" v-on:click="rewrite_event" :disabled="level<2" class="btn btn-sm btn-secondary">Apply</button>
              </h5>
            </div>

            <h3 v-for="(obj,key) in selected_meta">
              <b>{{key}}:</b> {{obj}}
            </h3>

            <div v-show="svg_init != ''" class="display-svg">
              <img v-bind:src="svg_init"> </img>
            </div>

            <div class="alert alert-warning" v-if="level == 3">
              <strong>No graphs produced</strong>
            </div>

          </div>

        </div>

      </div>

      <!-- *************** pane 2: rewriting view *************** -->
      <div v-show="pane == 2" class="main">
        <!-- <div id="pill-rewriting" class="main tab-pane fade"> -->

        <div class="wrapper">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">

              <div class="btn-group" role="group" style="width: 100%">
                <button type="button" class="btn btn-sm btn-secondary" v-on:click="pane=1">Corpus</button>
                <button type="button" class="btn btn-sm btn-success">Rewriting</button>
                <button type="button" class="btn btn-sm btn-secondary" :disabled="level<7" v-on:click="pane=3">Rules</button>
              </div>

              <h3>{{normal_forms.length}} Normal form{{ normal_forms.length > 1 ? "s" : "" }}</h3>
              <div style="height: calc(100% - 120px)">
                <div style="max-height:100%;overflow:auto;">
                  <ul class="nav flex-column">
                    <li class="nav-item" v-for="(normal_form, index) in normal_forms">
                      <a v-bind:id="'G_'+index" v-bind:class="{ selected: index == selected_normal_form }" v-on:click="select_normal_form_event" class="sent nav-link" href="#">
                        G_{{index + 1}} • {{ normal_form }} rule{{ normal_form > 1 ? "s" : "" }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>

          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="alert alert-secondary" role="alert">
              <h5>
                <span v-if="grs_files.length>0"><b>grs file:</b> {{ selected_grs_file }}</span>
                <span v-if="grs_files.length>0" style="padding: 10px;">•••</span>
                <span><b>Strategy:</b> {{ selected_strat }}</span>
                <span>•••</span>
                <span>Total number of rules applied: {{ log_rewrite.rules }}</span>
                <span>•••</span>
                <span>Time: {{ log_rewrite.time.toFixed(3) }} s</span>
              </h5>
            </div>
            <h3 v-for="(obj,key) in selected_meta">
              <b>{{key}}:</b> {{obj}}
            </h3>

            <div v-show="svg_init != ''" id="svg_init" class="display-svg">
              <img v-bind:src="svg_init"> </img>
            </div>

            <div class="row">
              <div class="column">
              </div>
              <div v-if="level >= 6" class="column">
                <p class="text-center" style="font-size:80px">
                  ↓<button v-on:click="get_rules_event" class="btn btn-success btn-lg">See {{ nb_rules }} rule{{ nb_rules > 1 ? "s" : "" }}</button>↓
                </p>
              </div>
            </div>
            <div class="alert alert-warning" v-if="level == 5">
              <strong>No rules apply</strong>
            </div>

            <div v-show="svg_final != ''" id="svg_final" class="display-svg">
              <img v-bind:src="svg_final"> </img>
            </div>
            <button v-if="level >= 6" type="button" class="btn btn-sm btn-secondary" v-on:click="save_json"><img src="img/download.svg"></img> JSON</button>
            <button v-if="level >= 6" type="button" class="btn btn-sm btn-secondary" v-on:click="save_conll"><img src="img/download.svg"></img> CoNLL</button>
          </div>
        </div>

      </div>

      <!-- *************** pane 3: rules view *************** -->
      <div v-show="pane == 3" class="main">
        <!-- <div id="pill-rules" class="main tab-pane fade"> -->

        <div class="wrapper">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">

              <div class="btn-group" role="group" style="width: 100%">
                <button type="button" class="btn btn-sm btn-secondary" v-on:click="pane=1">Corpus</button>
                <button type="button" class="btn btn-sm btn-secondary" v-on:click="pane=2">Rewriting</button>
                <button type="button" class="btn btn-sm btn-success">Rules</button>
              </div>
              <h3>{{rules.length}} rule{{ rules.length > 1 ? "s" : "" }}</h3>
              <div style="height: calc(100% - 120px)">
                <div style="max-height:100%;overflow:auto;">
                  <ul class="nav flex-column">
                    <li class="nav-item" v-for="(rule, index) in rules">
                      <a v-bind:id="'R_'+index" v-bind:class="{ selected: index == selected_rule }" v-on:click="select_rule_event" class="sent nav-link" href="#">
                        R_{{ index + 1 }} • {{ rule[0] }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>

          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="alert alert-secondary" role="alert">
              <h5>
                <span v-if="grs_files.length>0"><b>grs file:</b> {{ selected_grs_file }}</span>
                <span v-if="grs_files.length>0" style="padding: 10px;">•••</span>
                <span><b>Strategy:</b> {{ selected_strat }}</span>
              </h5>
            </div>
            <h3 v-for="(obj,key) in selected_meta">
              <b>{{key}}:</b> {{obj}}
            </h3>

            <div v-show="svg_before != ''" id="svg_before" class="display-svg">
              <img v-bind:src="svg_before"> </img>
            </div>

            <div class="row">
              <div class="column">
              </div>
              <div class="column">
                <p v-if="level > 7" class="text-center" style="font-size:80px">↓</p>
              </div>
            </div>

            <div v-show="svg_after != ''" id="svg_after" class="display-svg">
              <img v-bind:src="svg_after"> </img>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div id="status" class="navbar fixed-bottom">
      <ul class="nav nav-pills">
        <li class="active">
          <label><b>session_id:</b> {{ session_id }}</label>
          &nbsp; ••• &nbsp;
          <label><b>level:</b> {{ level }} </label>
          &nbsp; ••• &nbsp;
          <label><b>grew_back_url:</b> {{ grew_back_url }} </label>
        </li>
      </ul>
    </div>

    <div id="loading_overlay" style="display: none;">Loading… Please wait…</div>


    <!-- Modal -->
    <div class="modal fade" id="modal_warnings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Errors while loading {{ corpus }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ warnings }}
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="index.js"></script>


</body>

</html>